@media (max-width: 1919px) {
    .content {
        padding: 1px 10%;
    }

    .pad {
        padding: 120px 90px;
    }
}

@media (max-width: 1280px) {
    .content {
        padding: 1px 5%;
    }

    #headerNav{
        justify-content: center;
    }

    footer {
        margin-top: 0px;
        flex-flow: row wrap;
        justify-content: center;
    }

    .mob {
        padding-bottom: 1em;
        padding-top: 1em;
    }

    #finfoSocial {
        text-align: center;
    }

    #fSocialsIco {
        padding-left: 30px;
    }

}