* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;

	font-family: 'Poppins';
	font-style: normal;

}

html,
body {
	overflow-x: hidden;
}

.content {
	/* margin: 0px 270px; */
	width: 100%;
	padding: 1px 14.1%;
}

header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 1em;
}

#olhar {
	display: none;
}

#logoCont {
	background-color: black;
	position: relative;
}

.go {
	position: absolute;
	top: -8px;
}

#headerNav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.navHeader {
	margin: 0px 27px;
	margin: 0px 1.5rem;
	height: auto;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;

	opacity: 0.7;

	transition: all ease 0.3s;

	color: #FFFFFF;
}

.navHeader:hover,
.navHeader.active {
	opacity: 1;
}

#user {
	display: flex;
}

#userID>p {
	text-align: right;
	padding-top: 3px;
	padding-right: 8px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;

	color: #FFFFFF;
}

#userIco {
	position: relative;
}

#userIco::before {
	content: '';
	width: 10px;
	height: 10px;
	background-color: rgb(252, 1, 1);
	position: absolute;
	right: 1px;
	border-radius: 100%;
}

#ident {
	opacity: 0.5;
}

#userImg {
	border-radius: 25px;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #F9F9F9;
	margin-top: 120px;
}

#finfoSocial {
	width: 355px;
}

#fInfoCont {
	margin-top: 24px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;

	color: #5B5B5B;
}

#fSocialsIco {
	margin-top: 35px;
}

#fSocialsIco>img {
	padding-right: 37px;
}

#footerNav {
	display: flex;
	justify-content: space-between;

	padding: 0px 2em;

	width: 505px;
}

.collNav {
	list-style-type: none;

	/* margin: 0px 1em */
}

.collNav>li {
	margin-top: 12px;
}

.collNav>li>a {
	text-decoration: none;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;

	color: #5B5B5B;
}

.first {
	margin-bottom: 15px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;

	color: #161414;
}

#fLogoCont {
	position: relative;
}

.pad {
	padding: 120px 12em;
}

#subsForm {
	align-self: flex-start;
	width: 388px;
}

#mailForm {
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: 100%;
	height: 72px;
}

#inputWrap {
	margin-left: 18px;
	flex-flow: column;
}

#inputWrap label {
	font-weight: 300;
	font-size: 14px;
	color: #5B5B5B;
}

#inputWrap>input {
	font-weight: 500;
	font-size: 16px;
	color: #161414;

	height: auto;

	outline: none;

	/* border-bottom: 1px solid #000; */
}

#btnSub {
	width: 72px;
	height: 72px;

	background: #7B61FF;
	border-radius: 12px;
}

#btnSub>img {
	margin: 28px
}