@media (max-width: 1919px) {
    /* width: 1201px; */

    .sap {
        padding-top: 64px;
    }

    .wrapper {
        width: 76%;
        max-width: 760px;
        min-width: 647px;
        /* padding: 32px 15% 0px 15%; */
    }

    #travel > .wrapper {
        justify-content: center;
    }

    .traWrap {
        width: 320px;
        height: auto;
    }

    .tra {
        width: 100%;
    }

    
}

@media (max-width: 1170px) {
    
    .title > h1 {
        text-align: center;
    }

   .blockRow {
        display: flex;
        flex-flow: row nowrap;
    }
    
    #aboutUs {
        flex-flow: column;
    }

    #aboutUs > img {
        padding-top: 1em;
    }
}