#hero {
    background-image: url('/src/assets/Main/backGroundImg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    border-radius: 0px 0px 70px 70px;
    /* min-width: 1080px; */
    width: 100%;
}

.title {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    padding-top: 260px;
}

.title h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;

    color: #FFFFFF;
}

#discover {
    margin-top: 32px;

    width: 273px;
    height: 72px;

    background: #7B61FF;
    border-radius: 12px;
    cursor: pointer;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

#discover img {
    margin-right: 10px;
}

/* =======================Hero Form========================== */

#sFormWrapper {
    display: flex;
    justify-content: center;

    padding-top: 12%;
    padding-bottom: 100px;
}

#heroSearch {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 88px;
    border-radius: 12px;

    padding: 0px 0.5em;

    background-color: #FFFFFF;
}

.search {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 0px 0.4em;
}

.search>label {
    padding-left: 0.8em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #5B5B5B;
}

#sLoc {
    width: 230px;
    outline: none;
}

#sLoc::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161414;
    opacity: 1;
}

#sAct {
    width: 120px;
    border: none;
    border-radius: 4px;
    outline: none;
    appearance: none;
    cursor: pointer;
}

#sAct {
    position: relative;

}

#sAct:after {
    content: '>';
    font: 18px "Consolas", monospace;
    color: #aaa;
    transform: rotate(90deg);
    right: -7px;
    top: 10px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}

select {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161414;
    opacity: 1;
}

/* #sAct:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
} */

#btnSearch {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background: #7B61FF;
    border-radius: 12px;
}




/* =======================Hero Form========================== */

.textTop {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;

    color: #161414;
}

.sap {
    padding-top: 120px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 64px;
}

.block {
    position: relative;
    margin-top: 1em;
}

.blockRow {
    display: flex;
    flex-flow: row wrap;
    height: 380px;
    margin-top: 2em;
}

.ti {
    width: 203px;
    height: 181px;
}

.na {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #161414;
}

.tion {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #979797;
}

.barText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.vAll {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #5243C2;

    text-align: center;
}

.ho {
    width: 320px;
    height: 380px;
}

.te {
    margin-top: 10px;
}

.ls {
    margin-top: 12px;
}

#stars {
    position: relative;
    left: 220px;
    bottom: 25px;
}

.checked {
    color: #FFA800;
}

.other {
    margin-left: 2em;
    width: 320px;
    height: auto;
}

.tra {
    width: 320px;
    height: 380px;
}

.vel {

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #161414;
}

.tips {
    margin-top: 1em;

    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #5B5B5B;
}

.advice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 124px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #878787;
}

.status {
    display: flex;
}

.status>p {
    padding-left: 0.5em;
}

.act {
    width: 320px;
    height: 380px;
}

.vities {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #161414;
    text-decoration: none;
}

.mouse {
    text-decoration: none;
}

#aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutTxt>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #5B5B5B;

    margin-top: 1.5em;
    margin-bottom: 42px;

    width: 555px;
}

#aboutUs>img {
    border-radius: 25px;
    margin-left: 1em;
}